In [58]:
import pandas as pd

In [9]:
def cargar_tablas():
    import pandas as pd
    dataframe = pd.read_csv("Datasets/circuits.csv",encoding='UTF-8')
    dataframe.to_csv("Datasets/CSVs/circuits.csv",encoding='UTF-8',index=False,sep=';')

    dataframe = pd.read_json("Datasets/constructors.json",lines=True,encoding='UTF-8')
    dataframe.to_csv("Datasets/CSVs/constructors.csv",encoding='UTF-8',index=False)

    #https://stackoverflow.com/questions/38231591/split-explode-a-column-of-dictionaries-into-separate-columns-with-pandas
    dataframe = pd.read_json("Datasets/drivers.json",lines=True,encoding='UTF-8')
    dataframe = pd.concat([dataframe.drop(['name'], axis=1), dataframe['name'].apply(pd.Series)], axis=1)
    new_cols = ["driverId",	"driverRef"	,"number",	"code","forename",	"surname",	"dob",	 "nationality",	"url"]
    dataframe = dataframe.reindex(columns=new_cols)
    dataframe.to_csv("Datasets/CSVs/drivers.csv",encoding='UTF-8',index=False,sep=';')

    dataframe = pd.read_json("Datasets/pit_stops.json",encoding='UTF-8')
    dataframe['pit_stopId'] = dataframe.index
    dataframe['pit_stopId']+=1
    new_cols = ["pit_stopId",	"raceId",	"driverId",	"stop",	"lap",	"time"	,"duration",	"milliseconds"]
    dataframe = dataframe.reindex(columns=new_cols)
    dataframe.to_csv("Datasets/CSVs/pit_stops.csv",encoding='UTF-8',index=False)

    dataframe = pd.read_csv("Datasets/races.csv",encoding='UTF-8')
    dataframe.to_csv("Datasets/CSVs/races.csv",encoding='UTF-8',index=False)

    dataframe = pd.read_json("Datasets/results.json",lines=True,encoding='UTF-8')
    dataframe.to_csv("Datasets/CSVs/results.csv",encoding='UTF-8',index=False)

    #https://datatofish.com/union-pandas-dataframes/
    dataframe1 = pd.read_json("Datasets/Qualifying/qualifying_split_1.json",encoding='UTF-8')
    dataframe2 = pd.read_json("Datasets/Qualifying/qualifying_split_2.json",encoding='UTF-8')
    dataframe = pd.concat([dataframe1, dataframe2])
    dataframe.to_csv("Datasets/CSVs/Qualifying.csv",encoding='UTF-8',index=False)

    # https://www.statology.org/pandas-rename-columns/
    df1 = pd.read_csv("Datasets/lap_times/lap_times_split_1.csv",encoding='UTF-8',header=None)
    df2 = pd.read_csv("Datasets/lap_times/lap_times_split_2.csv",encoding='UTF-8',header=None)
    df3 = pd.read_csv("Datasets/lap_times/lap_times_split_3.csv",encoding='UTF-8',header=None)
    df4 = pd.read_csv("Datasets/lap_times/lap_times_split_4.csv",encoding='UTF-8',header=None)
    df5 = pd.read_csv("Datasets/lap_times/lap_times_split_5.csv",encoding='UTF-8',header=None)
    df = pd.concat([df1, df2,df3,df4,df5])
    df.rename(columns = {0:'raceId',1:'driverId',2:'lap',3:'position',4:'time',5:'miliseconds'}, inplace = True)
    df.to_csv("Datasets/CSVs/LapTimes.csv",encoding='UTF-8',index=False)

In [47]:
import pandas as pd
dataframe = pd.read_json("Datasets/drivers.json",lines=True,encoding='UTF-8')
dataframe.head()

,driverId,driverRef,number,code,name,dob,nationality,url
0,1,hamilton,44,HAM,"{'forename': 'Lewis', 'surname': 'Hamilton'}",1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,"{'forename': 'Nick', 'surname': 'Heidfeld'}",1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,"{'forename': 'Nico', 'surname': 'Rosberg'}",1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,"{'forename': 'Fernando', 'surname': 'Alonso'}",1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,"{'forename': 'Heikki', 'surname': 'Kovalainen'}",1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [48]:
dataframe.shape

(853, 8)

In [10]:
cargar_tablas()

In [42]:
def crear_CSVs():
    import pandas as pd
    dataframe = pd.read_csv("Datasets/circuits.csv",encoding='UTF-8')
    dataframe.to_csv("Datasets/CSVs/circuits.csv",encoding='UTF-8',index=False,sep=';')

    dataframe = pd.read_json("Datasets/constructors.json",lines=True,encoding='UTF-8')
    dataframe.to_csv("Datasets/CSVs/constructors.csv",encoding='UTF-8',index=False)

    #https://stackoverflow.com/questions/38231591/split-explode-a-column-of-dictionaries-into-separate-columns-with-pandas
    #https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reindex.html
    dataframe = pd.read_json("Datasets/drivers.json",lines=True,encoding='UTF-8')
    dataframe = pd.concat([dataframe.drop(['name'], axis=1), dataframe['name'].apply(pd.Series)], axis=1)
    new_cols = ["driverId",	"driverRef"	,"number",	"code","forename",	"surname",	"dob",	 "nationality",	"url"]
    dataframe = dataframe.reindex(columns=new_cols)
    dataframe.to_csv("Datasets/CSVs/drivers.csv",encoding='UTF-8',index=False,sep=';')

    dataframe = pd.read_json("Datasets/pit_stops.json",encoding='UTF-8')
    dataframe['pit_stopId'] = dataframe.index
    dataframe['pit_stopId']+=1
    new_cols = ["pit_stopId",	"raceId",	"driverId",	"stop",	"lap",	"time"	,"duration",	"milliseconds"]
    dataframe = dataframe.reindex(columns=new_cols)
    dataframe.to_csv("Datasets/CSVs/pit_stops.csv",encoding='UTF-8',index=False)

    dataframe = pd.read_csv("Datasets/races.csv",encoding='UTF-8')
    dataframe.to_csv("Datasets/CSVs/races.csv",encoding='UTF-8',index=False)

    dataframe = pd.read_json("Datasets/results.json",lines=True,encoding='UTF-8')
    dataframe.to_csv("Datasets/CSVs/results.csv",encoding='UTF-8',index=False)

    #https://datatofish.com/union-pandas-dataframes/
    dataframe1 = pd.read_json("Datasets/Qualifying/qualifying_split_1.json",encoding='UTF-8')
    dataframe2 = pd.read_json("Datasets/Qualifying/qualifying_split_2.json",encoding='UTF-8')
    dataframe = pd.concat([dataframe1, dataframe2])
    dataframe.to_csv("Datasets/CSVs/Qualifying.csv",encoding='UTF-8',index=False)

    # https://www.statology.org/pandas-rename-columns/
    # https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html
    df1 = pd.read_csv("Datasets/lap_times/lap_times_split_1.csv",encoding='UTF-8',header=None)
    df2 = pd.read_csv("Datasets/lap_times/lap_times_split_2.csv",encoding='UTF-8',header=None)
    df3 = pd.read_csv("Datasets/lap_times/lap_times_split_3.csv",encoding='UTF-8',header=None)
    df4 = pd.read_csv("Datasets/lap_times/lap_times_split_4.csv",encoding='UTF-8',header=None)
    df5 = pd.read_csv("Datasets/lap_times/lap_times_split_5.csv",encoding='UTF-8',header=None)
    df = pd.concat([df1, df2,df3,df4,df5])
    df.reset_index(inplace=True)
    df.rename(columns = {0:'raceId',1:'driverId',2:'lap',3:'position',4:'time',5:'miliseconds'}, inplace = True)
    df['lap_timeId'] = df.index+1 # Clave subrogada
    new_cols = ["lap_timeId", "raceId",	"driverId"	,"lap",	"position",	"time",	"miliseconds"]
    df = df.reindex(columns=new_cols)
    df.to_csv("Datasets/CSVs/LapTimes.csv",encoding='UTF-8',index=False)

In [43]:
crear_CSVs()

In [24]:
df.head()

   lap_timeId  raceId  driverId  lap  position      time  miliseconds
0       98109     841        20    1         1  1:38.109        98109
1       93007     841        20    2         1  1:33.006        93006
2       92715     841        20    3         1  1:32.713        92713
3       92806     841        20    4         1  1:32.803        92803
4       92346     841        20    5         1  1:32.342        92342

In [33]:
#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reindex.html
df1 = pd.read_csv("Datasets/lap_times/lap_times_split_1.csv",encoding='UTF-8',header=None)
df2 = pd.read_csv("Datasets/lap_times/lap_times_split_2.csv",encoding='UTF-8',header=None)
df3 = pd.read_csv("Datasets/lap_times/lap_times_split_3.csv",encoding='UTF-8',header=None)
df4 = pd.read_csv("Datasets/lap_times/lap_times_split_4.csv",encoding='UTF-8',header=None)
df5 = pd.read_csv("Datasets/lap_times/lap_times_split_5.csv",encoding='UTF-8',header=None)
df = pd.concat([df1, df2,df3,df4,df5])
df.reindex()
df.rename(columns = {0:'raceId',1:'driverId',2:'lap',3:'position',4:'time',5:'miliseconds'}, inplace = True)
df['lap_timeId'] = df.index
new_cols = ["lap_timeId", "raceId",	"driverId"	,"lap",	"position",	"time",	"miliseconds"]
df = df.reindex(columns=new_cols)
df.head()

   lap_timeId  raceId  driverId  lap  position      time  miliseconds
0           0     841        20    1         1  1:38.109        98109
1           1     841        20    2         1  1:33.006        93006
2           2     841        20    3         1  1:32.713        92713
3           3     841        20    4         1  1:32.803        92803
4           4     841        20    5         1  1:32.342        92342

In [13]:

df.head()

   raceId  driverId  lap  position      time  miliseconds  lap_timeId
0     841        20    1         1  1:38.109        98109           1
1     841        20    2         1  1:33.006        93006           2
2     841        20    3         1  1:32.713        92713           3
3     841        20    4         1  1:32.803        92803           4
4     841        20    5         1  1:32.342        92342           5

In [39]:
diction = {0: 'hola',1:'mundo',2:'jaaa',0:'holiii'}
df2 = pd.DataFrame(diction,index=[0,1,2,0])
df2

        0      1     2
0  holiii  mundo  jaaa
1  holiii  mundo  jaaa
2  holiii  mundo  jaaa
0  holiii  mundo  jaaa

In [38]:
df2.reset_index(inplace=True)
df2

   index       0      1     2
0      0  holiii  mundo  jaaa
1      1  holiii  mundo  jaaa
2      2  holiii  mundo  jaaa
3      0  holiii  mundo  jaaa

In [15]:

df.head()

   lap_timeId  raceId  driverId  lap  position      time  miliseconds
0           1     841        20    1         1  1:38.109        98109
1           2     841        20    2         1  1:33.006        93006
2           3     841        20    3         1  1:32.713        92713
3           4     841        20    4         1  1:32.803        92803
4           5     841        20    5         1  1:32.342        92342

In [8]:
import pandas as pd
dataframe = pd.read_json("Datasets/pit_stops.json",encoding='UTF-8')
dataframe['pit_stopId'] = dataframe.index
dataframe['pit_stopId']+=1
new_cols = ["pit_stopId",	"raceId",	"driverId",	"stop",	"lap",	"time"	,"duration",	"milliseconds"]
dataframe = dataframe.reindex(columns=new_cols)
dataframe.head()

   pit_stopId  raceId  driverId  stop  lap      time duration  milliseconds
0           1     841       153     1    1  17:05:23   26.898         26898
1           2     841        30     1    1  17:05:52   25.021         25021
2           3     841        17     1   11  17:20:48   23.426         23426
3           4     841         4     1   12  17:22:34   23.251         23251
4           5     841        13     1   13  17:24:10   23.842         23842

In [ ]:
import pandas as pd
dataframe = pd.read_json("Datasets/pit_stops.json",encoding='UTF-8')
dataframe['pit_stopId'] = dataframe.index
dataframe['pit_stopId']+=1
new_cols = ["pit_stopId",	"raceId",	"driverId",	"stop",	"lap",	"time"	,"duration",	"milliseconds"]
dataframe = dataframe.reindex(columns=new_cols)
dataframe.head()

In [2]:
dataframe.head()

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

In [4]:
dataframe.head()

   raceId  driverId  stop  lap      time duration  milliseconds  pit_stopId
0     841       153     1    1  17:05:23   26.898         26898           0
1     841        30     1    1  17:05:52   25.021         25021           1
2     841        17     1   11  17:20:48   23.426         23426           2
3     841         4     1   12  17:22:34   23.251         23251           3
4     841        13     1   13  17:24:10   23.842         23842           4

   raceId  driverId  stop  lap      time duration  milliseconds  pit_stopId
0     841       153     1    1  17:05:23   26.898         26898           1
1     841        30     1    1  17:05:52   25.021         25021           2
2     841        17     1   11  17:20:48   23.426         23426           3
3     841         4     1   12  17:22:34   23.251         23251           4
4     841        13     1   13  17:24:10   23.842         23842           5

In [14]:
crear_CSVs()

In [3]:
import pandas as pd
dataframe = pd.read_csv("Datasets/circuits.csv",encoding='UTF-8')
dataframe.to_csv("Datasets/CSVs/circuits.csv",encoding='UTF-8',index=False,sep=';')

In [2]:
dataframe = pd.read_json("Datasets/constructors.json",lines=True,encoding='UTF-8')
dataframe.to_csv("Datasets/CSVs/constructors.csv",encoding='UTF-8',index=False)

In [7]:
import os
os.getcwd()

'c:\\Users\\marco\\OneDrive\\Documentos\\2. DataScience\\TIPs y Proyectos\\PI01_DATA03\\PI01_DATA03\\Datasets'

In [8]:
    import pandas as pd
    dataframe = pd.read_json("constructors.json",lines=True,encoding='UTF-8')

In [ ]:

    dataframe.to_csv("../Datasets/CSVs/constructors.csv",encoding='UTF-8',index=False)

In [1]:
import Querys

In [2]:
def Año_más_carreras():
    return Querys.Pregunta1()
Año_más_carreras()

'Año con mas carreras: 2021'

'c:\\Users\\marco\\OneDrive\\Documentos\\2. DataScience\\TIPs y Proyectos\\PI01_DATA03\\PI01_DATA03\\Datasets'

In [1]:
import os
#https://linuxize.com/post/python-get-change-current-working-directory/#:~:text=the%20running%20script.-,Changing%20the%20Current%20Working%20Directory%20in%20Python,use%20the%20chdir()%20method.&text=The%20method%20accepts%20one%20argument,which%20you%20want%20to%20change.
os.getcwd()
os.chdir("../PI01_DATA03/Datasets/") 
#https://www.w3schools.com/python/trypython.asp?filename=demo_try_except
try:
  os.makedirs("CSVs")
except:
  print("Carpeta duplicada")

In [2]:
import pandas as pd
dataframe = pd.read_csv("../Datasets/circuits.csv",encoding='UTF-8')
dataframe.to_csv("../Datasets/CSVs/circuits.csv",encoding='UTF-8',index=False,sep=';')

In [14]:
import os
os.getcwd()
os.chdir("../PI01_DATA03/Datasets/") 
os.makedirs("CSVs")
os.chdir("./CSVs/")
dataframe = pd.read_csv("../circuits.csv",encoding='UTF-8')
dataframe.to_csv("../CSVs/circuits.csv",encoding='UTF-8',index=False,sep=';')

In [29]:
import pymysql

In [27]:
conexion = pymysql.connect (host='localhost', database='pidts03', user ='root', password='abcd12345')
cursor = conexion.cursor()
cursor.execute("show tables;")
salida = []
for dato in cursor:
    salida.append(dato[0])
conexion.close()
print(salida)

['circuits', 'constructors', 'drivers', 'qualifying', 'races', 'results']

In [28]:
query_ = "select `year`  from races group by `year` order by count(`year`) desc limit 1;"

In [30]:
def query(query_):
    conexion = pymysql.connect (host='localhost', database='pidts03', user ='root', password='abcd12345')
    cursor = conexion.cursor()
    cursor.execute(query_)
    salida = []
    for dato in cursor:
        salida.append(dato[0])
    return (salida)

In [32]:
query(query_)

ProgrammingError: (1146, "Table 'pidts03.races' doesn't exist")

In [62]:
conexion = pymysql.connect (host='localhost', database='pidts03', user ='root', password='abcd12345')
cursor = conexion.cursor()
cursor.execute(" SELECT drivers.driverId, count(qualifying.position) as Cantidad_primeros_puestos, drivers.forename as Nombre, drivers.surname as Apellido FROM qualifying JOIN drivers ON qualifying.driverId = drivers.driverId WHERE position = 1 GROUP BY driverId ORDER BY Cantidad_primeros_puestos DESC LIMIT 1;")
for dato in cursor:
    pass
conexion.close()
print ("Piloto con mayor cantidad de primeros puestos:", dato[2],dato[3])

Piloto con mayor cantidad de primeros puestos: Lewis Hamilton

In [63]:
conexion = pymysql.connect (host='localhost', database='pidts03', user ='root', password='abcd12345')
cursor = conexion.cursor()
cursor.execute(" SELECT count(r.circuitId) as CantidadCarreras, c.name FROM races r JOIN circuits c ON (r.circuitId = c.circuitId) GROUP BY r.circuitId ORDER BY CantidadCarreras DESC LIMIT 1;;")
for dato in cursor:
    pass
conexion.close()
print ("Nombre del circuito más corrido:", dato[1])

Nombre del circuito más corrido: Autodromo Nazionale di Monza

In [64]:
conexion = pymysql.connect (host='localhost', database='pidts03', user ='root', password='abcd12345')
cursor = conexion.cursor()
cursor.execute(" SELECT sum(r.points) as Puntaje_total, c.nationality as Nacionalidad_del_constructor, c.name as Nombre, d.forename as Nombre, d.surname as Apellido FROM results r JOIN constructors c ON (r.constructorId = c.constructorId) JOIN drivers d ON (r.driverId = d.driverId) WHERE c.nationality = 'British' OR c.nationality = 'American' GROUP BY r.driverId ORDER BY Puntaje_total DESC LIMIT 1;")
for dato in cursor:
    pass
conexion.close()
print ("Piloto con mayor cantidad de puntos (constructor American o British):", dato[3],dato[4])

Piloto con mayor cantidad de puntos (constructor American o British): Jenson Button

In [65]:
from fastapi import FastAPI

app = FastAPI()

In [66]:
def Pregunta1():
    conexion = pymysql.connect (host='localhost', database='pidts03', user ='root', password='abcd12345')
    cursor = conexion.cursor()
    cursor.execute("select `year`, count(`year`) as Numero_carreras from races group by `year` order by Numero_carreras desc limit 1;")
    for dato in cursor:
        pass
    conexion.close()
    return("Anio con mas carreras: "+str(dato[0]))

In [67]:
Pregunta1()

'Anio con mas carreras: 2021'

In [68]:
def Pregunta2():
    conexion = pymysql.connect (host='localhost', database='pidts03', user ='root', password='abcd12345')
    cursor = conexion.cursor()
    cursor.execute(" SELECT drivers.driverId, count(qualifying.position) as Cantidad_primeros_puestos, drivers.forename as Nombre, drivers.surname as Apellido FROM qualifying JOIN drivers ON qualifying.driverId = drivers.driverId WHERE position = 1 GROUP BY driverId ORDER BY Cantidad_primeros_puestos DESC LIMIT 1;")
    for dato in cursor:
        pass
    conexion.close()
    return("Piloto con mayor cantidad de primeros puestos:"+ dato[2]+' '+dato[3])

In [69]:
Pregunta2()

'Piloto con mayor cantidad de primeros puestos:Lewis Hamilton'

In [70]:
def Pregunta3():
    conexion = pymysql.connect (host='localhost', database='pidts03', user ='root', password='abcd12345')
    cursor = conexion.cursor()
    cursor.execute(" SELECT count(r.circuitId) as CantidadCarreras, c.name FROM races r JOIN circuits c ON (r.circuitId = c.circuitId) GROUP BY r.circuitId ORDER BY CantidadCarreras DESC LIMIT 1;;")
    for dato in cursor:
        pass
    conexion.close()
    return("Nombre del circuito más corrido:"+' '+ dato[1])

In [71]:
Pregunta3()

'Nombre del circuito más corrido: Autodromo Nazionale di Monza'

In [72]:
def Pregunta4():
    conexion = pymysql.connect (host='localhost', database='pidts03', user ='root', password='abcd12345')
    cursor = conexion.cursor()
    cursor.execute(" SELECT sum(r.points) as Puntaje_total, c.nationality as Nacionalidad_del_constructor, c.name as Nombre, d.forename as Nombre, d.surname as Apellido FROM results r JOIN constructors c ON (r.constructorId = c.constructorId) JOIN drivers d ON (r.driverId = d.driverId) WHERE c.nationality = 'British' OR c.nationality = 'American' GROUP BY r.driverId ORDER BY Puntaje_total DESC LIMIT 1;")
    for dato in cursor:
        pass
    conexion.close()
    return("Piloto con mayor cantidad de puntos (constructor American o British):"+ str(dato[3])+' '+str(dato[4]))

In [73]:
Pregunta4()

'Piloto con mayor cantidad de puntos (constructor American o British):Jenson Button'

In [74]:
@app.get("/Pregunta1")
def read_root():
    return Pregunta1()

In [75]:
@app.get("/Pregunta2")
def read_root():
    return Pregunta2()

In [76]:
@app.get("/Pregunta3")
def read_root():
    return Pregunta3()

In [77]:
@app.get("/Pregunta4")
def read_root():
    return Pregunta4()

In [ ]:
@app.get("/items/{item_id}")
def read_item(item_id: int, q: Union[str, None] = None):
    return {"item_id": item_id, "q": q}